<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>ClubStop</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="agen" />
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  {% load static%}
  <link rel="stylesheet" href="{%static 'plugins/bootstrap/bootstrap.min.css'%}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{%static 'plugins/slick/slick.css'%}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{%static 'plugins/themify-icons/themify-icons.css'%}">
  <!-- venobox css -->
  <link rel="stylesheet" href="{%static 'plugins/venobox/venobox.css'%}">
  <!-- card slider -->
  <link rel="stylesheet" href="{%static 'plugins/card-slider/css/style.css'%}">

  <!-- Main Stylesheet -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon">
  <link rel="icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon">
  <style type="text/css">
    .owl-carousel{
      max-width: 75vw;
      position: relative;
      margin: auto;
      text-align: center;
    }
    .owl-dots{
      display: none;
    }
    .owl-nav{
      display: none;
    }
    .feature_item {
      background: #ffffff;
      box-shadow: 1px 1px 25px 0 rgb(0 0 0 / 10%);
      border-radius: 15px;
      padding: 20px 25px;
      height: 50vh;
      transition: all .4s ease-in-out;
      margin: 20px auto;
  }
  .feature_title{
      font-family: 'Poppins', sans-serif;
      font-size: 1.3rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
  }
  </style>

</head>

<body>

<!-- banner -->

<!-- /banner -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-title">Club Information</h2>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row " style="margin:0 auto;">
      <div class="col-lg-10 mb-4 mb-lg-0 text-center">
        <div class="card  shadow py-4">
          <div class="card-body text-center">
            <div class="position-relative">
              <img src="{%static 'images/NSS_LOGO.png'%}"/>
            </div>
            <h4 class="mb-4">NSS GVPCE(A)</h4>
            <p class="mb-4">Club Lead: Sonah Saini</p>
            <p class="mb-4">The National Service Scheme (NSS) is a Central Sector Scheme of Government of India, Ministry of Youth Affairs & Sports. It provides opportunity to the student youth of 11th & 12th Class of schools at +2 Board level and student youth of Technical Institution, Graduate & Post Graduate at colleges and University level of India to take part in various government led community service activities & programmes.The sole aim of the NSS is to provide hands on experience to young students in delivering community service. Since inception of the NSS in the year 1969, the number of students strength increased from 40,000 to over 3.8 million up to the end of March 2018 students in various universities, colleges and Institutions of higher learning have volunteered to take part in various community service programmes.</p>
            <p class="mb-4">Also known as :<span>RAC GVP</span></p>
            
        </div>
      </div>
      <div class="container mytab" style="background-color: #fff;">
        <h1 style="font-size: 26px;">Club Core-Members</h1>
            <table class="table table-striped ">
                <thead class="thead">
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">R.No</th>
                        <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Maheedhara Vani Sudheera</td>
                        <td>19131A0820</td>
                        <td>Sudheera@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Nallamalli Sri Siva Manoj Kumar Reddy</td>
                        <td>19131A0826</td>
                        <td>Sivamanojkumar@gmail.com</td>
                    </tr>
        </tbody>
    </table>
        <!--<p>Authentication by Club members</p>-->
      </div>
        
      </div>
    </div>
  </div>
</section>



<!-- service -->

<!-- /team -->
<!--
<section class="section">
  <div class="latest-events" style="margin-bottom: 2rem; margin-top:30px">

    <h1 class="text-center" style="color: #063258;">Latest Events</h1>
    <hr class="underline" style="width:5em;height:2px;">

    <div class="owl-carousel owl-theme container">


        <div class="feature_item text-center">
            <img src="images/testimonial/azadieventpic.jpg" style="width: 100%;" alt="">
            <h3 class="feature_title">Azadi Ka Amrit Mahotsav</h3>
            <p class="feature_text"></p>
            <a href="https://drive.google.com/file/d/1mrw6ceEn46-zC27z6zUp2EqRc5QWqZYC/view?usp=sharing" target="_blank"><button type="button"
                    class="btn btn-outline-info">Know More</button></a>
        </div>
        <div class="feature_item text-center">
            <img src="images/testimonial/vanmahotsavpic.jpg" style="width: 100%;" alt="">
            <h3 class="feature_title">Vanmahotsav Event</h3>
            
            <a href="https://drive.google.com/file/d/1iSrLn30xXoibPlvHZpN8N4_mFYZou-R1/view?usp=sharing" target="_blank"><button type="button"
                    class="btn btn-outline-info">Know More</button></a>
        </div>
        <div class="feature_item text-center">
            <img src="images/testimonial/dishaapp event.jpg" style="width: 100%;" alt="">
            <h3 class="feature_title">Disha App Sensitization</h3>
            
            <a href="https://drive.google.com/file/d/1uykITn7L2SSJirhfVVl1HkMD2Xz3or53/view?usp=sharing" target="_blank"><button type="button"
                    class="btn btn-outline-info">Know More</button></a>
        </div>
        <div class="feature_item text-center">
            <img src="images/testimonial/beacheventpic.jpg" style="width: 100%;" alt="">
            <h3 class="feature_title">Beach Event</h3>
            
            <a href="https://drive.google.com/file/d/1mrw6ceEn46-zC27z6zUp2EqRc5QWqZYC/view?usp=sharing" target="_blank"><button type="button"
                    class="btn btn-outline-info">Know More</button></a>
        </div>
    
        <div class="feature_item text-center">
            <img src="images/testimonial/yogadayeventpic.jpg" style="width: 100%;" alt="">
            <h3 class="feature_title">Offline Yoga Event</h3>
        
            <a href="https://drive.google.com/file/d/1qmDLlsyPhOBgnueao0RIZkIV1ynMGHR-/view?usp=sharing" target="_blank"><button type="button"
                    class="btn btn-outline-info">Know More</button></a>
        </div>
                
    </div>

</div>
</section>
-->


<!-- about -->

<!-- /about -->

<!-- project -->

<!-- /project -->

<!-- call to action -->

<!-- /call to action -->

<!-- pricing -->

<!-- /blog -->

<!-- footer -->

<!-- /footer -->


<!-- jQuery -->
<script src="{%static 'plugins/jQuery/jquery.min.js'%}"></script>
<!-- Bootstrap JS -->
<script src="{%static 'plugins/bootstrap/bootstrap.min.js'%}"></script>
<!-- slick slider -->
<script src="{%static 'plugins/slick/slick.min.js'%}"></script>
<!-- venobox -->
<script src="{%static 'plugins/venobox/venobox.min.js'%}"></script>
<!-- shuffle -->
<script src="{%static 'plugins/shuffle/shuffle.min.js'%}"></script>
<!-- apear js -->
<script src="{%static 'plugins/counto/apear.js'%}"></script>
<!-- counter -->
<script src="{%static 'plugins/counto/counTo.js'%}"></script>
<!-- card slider -->
<script src="{%static 'plugins/card-slider/js/card-slider-min.js'%}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{%static 'plugins/google-map/gmap.js'%}"></script>

<!-- Main Script -->
<script src="{%static 'js/script.js'%}"></script>
</body>

</html>
